<div class="card-container">
  <img src="../../assets/Blog Image.png" alt="card-image">
  <div class="card-info">
    <button class="btn-card">Learning</button>
    <p class="published">Published 21 Dec 2023</p>
    <h1>HTML & CSS foundations</h1>
    <p class="text">These languages are the backbone of every website, defining structure, content, and presentation.</p>
  </div>
  <div class="user">
    <img src="../../assets/profile-image.svg" alt="image-profile">
    <p class="name">Greg Hooper</p>
  </div>
</div>
